{% extends "base.html" %} {% block content %}
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <div class="image right docutils container">
      <img alt="" src="/images/photo4.jpg" height=50/>
      </div>
      <h1>
        &phi;/&chi; Games
      </h1>
      <p>Un site contenant des jeux de physique-chimie en libre accès.</p>
    </header>
   
    <p>Professeure de physique-chimie depuis 31 ans, je développe depuis une dizaine 
    d’années des jeux sérieux dans mes classes. Mon intérêt pour les jeux sérieux a 
    débuté l’année de ma préparation à la certification DNL en anglais pendant laquelle 
    j’ai étudié les pratiques pédagogiques anglo-saxonnes. Les jeux sérieux sont 
    largement développés dans ces pays et il m’a semblé très intéressant d’essayer de
    les introduire dans mon enseignement.</p>
    
    <ul>
        <li> Des jeux pour progresser </li>
    </ul>
    
    <p>
     J’ai commencé par développer des jeux sur des notions pour lesquelles les élèves 
     ont besoin de répétition pour assimiler. Refaire plusieurs fois le même exercice 
     peut paraître fastidieux et peu motivant, et le jeu permet cet entrainement tout 
     en maintenant l’attention de l’élève et en le rendant plus tenace. De manière 
     générale, le jeu entraine une implication de tous les élèves, favorise les 
     échanges entre pairs et permet de faire progresser ceux en difficulté dans un 
     cadre moins scolaire. 
    </p>
    
    <ul>
        <li> Une organisation de la classe différente </li>
    </ul>
    
    <p>
      Jouer dans la classe implique une réorganisation de la salle, les élèves étant 
      placés en îlots de 4 élèves ou plus suivant le jeu. Une difficulté liée à cette 
      pratique est  la gestion du bruit puisque le jeu entraîne de fait de nombreux 
      échanges entre les élèves. Il faut donc veiller tout le temps de l’activité à 
      avoir une ambiance relativement calme permettant aux élèves de réfléchir, 
      d’échanger et d’assimiler les notions. La pratique des jeux en classe m’a 
      convaincue que cette organisation en îlots est favorable à l’apprentissage 
      et à l’entraide entre les élèves, et désormais je travaille tout le temps 
      en îlots.
    </p>
    
    <ul>
        <li> Matériel pour jouer </li>
    </ul>
    
    <p>
    Vous trouverez dans ce site ces jeux, avec leurs règles et les documents nécessaires 
    pour jouer. Ce sont des jeux souvent adaptés de jeux existants, comme par exemple le 
    mistigri ou les dominos. J'ai aussi ajouté des jeux réalisés par des collègues et 
    trouvés le plus souvent sur des sites académiques. Pour certains d'entre eux, des 
    conseils sont fournis pour un bon déroulement de la séance. 
    Vous trouverez dans la rubrique "Sites" d'autres jeux que je n'ai pas testés mais 
    qui semblent intéressants. A chaque fois une description du jeu et le lien vers le 
    site correspondant sont fournis. 
    
    Have fun !

    </p>
    <p>
      Have fun !
    </p>

    <ul class="actions">
      <li>
        <a href="{{ SITEURL }}/pages/avis.html" class="button big">En savoir plus</a>
      </li>
    </ul>
  </div>
  
</section>

<!-- Section -->
<!-- <section>
  <header class="major">
    <h2>Erat lacinia</h2>
  </header>
  <div class="features">
    <article>
      <span class="icon fa-gem"></span>
      <div class="content">
        <h3>Portitor ullamcorper</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
          Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
          tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-paper-plane"></span>
      <div class="content">
        <h3>Sapien veroeros</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
          Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
          tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-rocket"></span>
      <div class="content">
        <h3>Quam lorem ipsum</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
          Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
          tempus aliquam.
        </p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-signal"></span>
      <div class="content">
        <h3>Sed magna finibus</h3>
        <p>
          Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
          Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
          tempus aliquam.
        </p>
      </div>
    </article>
  </div>
</section> -->

<!-- Section -->
<section>
  <header class="major">
    <h2>Jeux récents</h2>
  </header>
  <div class="posts">
    {% for a in articles %} {% if loop.index < 7 %} <article>
      {% if a.splash_url %}
      <a href="{{ SITEURL }}/{{ a.url }}" class="image"><img src="{{ SITEURL }}/{{a.splash_url}}" alt="" /></a>
      
      {% endif %}

      <h3>{{ a.title }}</h3>

      {% if a.summary %}
      <p>{{ a.summary }}</p>
      {% endif %}

      <ul class="actions">
        <li><a href="{{ SITEURL }}/{{ a.url }}" class="button">Plus</a></li>
      </ul>
      </article>
      {% endif %} {% endfor %}
  </div>
</section>

<div style="max-width: 500px; margin: auto">
  <ul class="actions fit">
    <li>
      <a href="{{ SITEURL }}/archives" class="button fit">Plus d'articles</a>
    </li>
  </ul>
</div>

<form method="post">
  <div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
      <input type="text" name="name" id="name" value placeholder="Name"></>
    </div>
    <div class="col-6 col-12-xsmall">
      <input type="email" name="email" id="email" value placeholder="Email"></>
    </div>
    <div class="col-12">
      <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
    </div>
    <div class="col-12">
      <ul class="actions">
        <li>
          <input type="submit" value="Send Message" class="primary">
        </li>
        <li>
          <input type="reset" value="Reset">
        </li>
      </ul>
    </div>
  </div>
</form>

{% endblock content %}